#title {
	padding:10px;
	text-align: center;
}

.whole {
	margin:auto;
	padding: 10px
}

.sectionBlock {
	width:50%;
	float: left;
}

.inputBlock {
	margin: 15px;
}

.input {
	margin-bottom: 10px;
}

#minutes {
	margin-bottom: 5px;
}

.timeRemain div{
	margin-bottom: 10px;
}
#hurry-up {
	color: red;
}

.txtchoose {
    margin-bottom: 10px;
}
.gameResult{
	padding-top: 10px;
	padding-bottom: 10px;
}
.btnChoose {
	padding-top: 10px;
	padding-bottom: 10px;
}
.showResult {
	display: inline-block;
	width: 120px;
}

.formvalidate {
	color: red;
}
@media only screen and (max-width: 768px) {
    .sectionBlock {
        width: 100%;
    }
    .txtchoose {
    	margin-top: 20px;
    	margin-bottom: 10px;
    }
}